
        body{
            background-image: url("bg3.webp");
            background-size: cover;
            background-attachment: fixed;
            height: 100vh;
            margin: 0;
           
        }
        .hallo{
            position: absolute;
            top: 30%;
            left: 45%;
            font-size: 30px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: white;
            justify-content: center;
            font-style: oblique;
        }
        .saya{
            position: absolute;
            top: 35%;
            left: 40%;
            font-size: 30px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: white;
            justify-content: center;
            font-style: oblique;
        }
        .foto{
          border-radius: 100%;
          height: 200px;
          position: absolute;
          left: 42%;
          bottom: 68%;
          border: 5px solid white;
        }
        .Perkenalkan{
            color: white;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-align: center;
            right: 20%;
        
        }
        .riwayat{
            color: white;
            position: absolute;
            left: 41.5%;
            top: 65%;
            border: solid;
            padding: 10px;
            border-radius: 50px;
            background-color: rgb(66, 1, 66);
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-style: solid;
        }
        .prestasi{
            color: white;
            position: absolute;
            left: 41.5%;
            top: 95%;
            border: solid;
            padding: 15px 50px;
            border-radius: 50px;
            background-color: rgb(66, 1, 66);
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-style: solid;
        }
        .list{
            color: white;
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            margin-right: 20px;
        }
        .ig{
            position: absolute;
            top: 176.5%;
            left: 42.5%;
            height: 10%;
        }
        .linkig{
            color: rgb(255, 253, 255);
            font-style: solid;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            position: absolute;
            top: 185%;
            left: 42.5%;
           border: solid;
            padding: 5px;
            border-radius: 50px;
            border-color: rgb(255, 255, 255);
            background-color: rgb(39, 8, 58);
            
        }
        .wa{
            position: absolute;
            top: 176.5%;
            left: 50.5%;
            height: 10%;
        }
        .sertif{
            border: 5px 5px;
            border-radius: 50%;
            background-color: purple;
            padding: 2px;
        }
        .aboutme{
            color: white;
            position: absolute;
            left: 42.5%;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-style: solid;
        }
        .class{
            top: 50%;
        }
        .wawa{
            color: rgb(255, 255, 255);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            position: absolute;
            top: 185%;
            left: 51%; 
             border: solid;
            padding: 5px;
            border-radius: 50px;
            border-color: rgb(255, 255, 255);
            background-color: rgb(39, 8, 58);
        }
        .prestasi1{
            height: 60%;
            position: absolute;
            top: 108%;
            left: 24%;
             border: solid;
            padding: 10px;
            border-radius: 50px;
            border-color: white;
        }
        .prestasi2{
            height: 60%;
            position: absolute;
            top: 108%;
            left: 48%;
            border: solid;
            padding: 10px;
            border-radius: 50px;
            border-color: white;
        }
        .tabel{
            background-color: rgb(0, 0, 0);
            padding: 0.5%;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-style: solid;
            color: rgb(255, 255, 255);
            font-style: solid;
            border:solid 50% ;
            border-color: rgb(255, 255, 255);
            border-bottom: 10% ;
            position: absolute;
            left: 36%;
           height: 100px;
           width: 3%;
           top: 77.5%;
           text-align: center;
        }
