th{
    color: antiquewhite;
    background-color: cadetblue;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    font-size: 9pt;
}
tr{
    color: antiquewhite;
    background-color: cadetblue;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    font-size: 9pt;
}
table{
    padding: 50px;
    background-color: brown;
}