.atas{
    border: 1px solid purple;
    padding: 5px;
    margin: 5px;
    text-align: middle;
    background-color: darkviolet;
    width: 500px;

}
.bawah{
    display: block ;
    margin: 3px 0px;
    border-top: 1px solid purple;
    border-bottom: 1px solid black;
    border-left: 1px solid purple;
    border-right: 1px solid black;
    padding: 10px 50px;
    text-align: center;
    background-color: cadetblue;
}